@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@keyframes open-menu-animation {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes close-menu-animation {
  from {
    width: 70%;
  }
  to {
    width: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #fffdfa;
  color: #00001a;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 2.5em;
  padding: 2em 1em;
}
@media (min-width: 1024px) {
  body {
    padding: 2em;
  }
}

header {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hidden {
  display: none;
}

.mobile-menu {
  animation-name: open-menu-animation;
  animation-duration: 1s;
  background-color: #fffdfa;
  height: 100vh;
  width: 70%;
  padding-left: 2em;
  padding-top: 7em;
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1em;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}
.mobile-menu ul a {
  text-decoration: none;
  color: #00001a;
}
.mobile-menu ul a :hover {
  color: #f15e50;
}

.desktop-menu {
  display: none;
}
@media (min-width: 768px) {
  .desktop-menu {
    display: flex;
  }
  .desktop-menu ul {
    list-style: none;
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 1em;
  }
  .desktop-menu ul li a {
    text-decoration: none;
    color: #5d5f79;
  }
  .desktop-menu ul li :hover {
    color: #f15e50;
  }
}

.logo {
  color: #00001a;
  font-size: 3em;
  font-weight: 900;
  text-decoration: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  display: none;
}

.news-of-the-day article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: "Inter", sans-serif;
}
.news-of-the-day article img {
  height: 20em;
  width: 100%;
}
.news-of-the-day article h1 {
  font-size: 2.3em;
  font-weight: 900;
}
.news-of-the-day article p {
  color: #5d5f79;
}
.news-of-the-day article a {
  height: 3.5em;
  width: 12em;
}
.news-of-the-day article a button {
  background-color: #f15e50;
  border: none;
  color: #fffdfa;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-weight: 600;
  letter-spacing: 3px;
}
.news-of-the-day article a :hover {
  background-color: #00001a;
}
@media (min-width: 1024px) {
  .news-of-the-day article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .news-of-the-day article picture {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .news-of-the-day article picture img {
    height: 100%;
  }
  .news-of-the-day article h1 {
    grid-column: 1/2;
    grid-row: 2/4;
    font-size: 3em;
  }
}
@media (min-width: 1024px) {
  .news-of-the-day {
    grid-column: 1/3;
  }
}

.news {
  background-color: #00001a;
  color: #c5c6ce;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
}
.news h1 {
  color: #e9ab53;
  font-size: 2em;
}
.news hr {
  height: 1px;
  border: none;
  background-color: #5d5f79;
  color: #5d5f79;
}
.news article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.news article a {
  text-decoration: none;
  color: #fffdfa;
  font-size: 1.2em;
}
.news article a :hover {
  color: #e9ab53;
}
.news article p {
  font-weight: 200;
}

.most-searched {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-family: "Inter", sans-serif;
}
.most-searched article {
  display: flex;
  gap: 1em;
}
.most-searched article img {
  height: 8em;
  width: 6em;
}
.most-searched article div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.most-searched article div h2 {
  color: #c5c6ce;
}
.most-searched article div a {
  text-decoration: none;
  color: #00001a;
  font-weight: 800;
}
.most-searched article div a :hover {
  color: #f15e50;
}
@media (min-width: 1024px) {
  .most-searched {
    grid-column: 1/4;
    flex-direction: row;
  }
  .most-searched article div {
    gap: 0.5em;
  }
  .most-searched article div h2 {
    font-size: 1.5em;
  }
  .most-searched article div a {
    font-size: 1em;
  }
  .most-searched article div p {
    font-size: 0.7em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#open-menu {
  display: block;
}
@media (min-width: 768px) {
  #open-menu {
    display: none;
  }
}

#close-menu {
  display: block;
  position: absolute;
  top: 2em;
  right: 2em;
}

/*# sourceMappingURL=style.css.map */
