@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$soft-orange: #e9ab53;
$soft-red: #f15e50;

$off-white: #fffdfa;
$grayish-blue: #c5c6ce;
$dark-grayish-blue: #5d5f79;
$very-dark-blue: #00001a;

$font: "Inter", sans-serif;

$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
